<navigation></navigation>

<p><b>IMPORTANT : </b><p>Suite à des problèmes de performance (téléchargement volumineux), le fonctionnement a légèrement changé. </p>
<p>Vous pouvez voir la date de dernière mise à jour des fichiers.</p>
<p>Si un fichier doit être mis à jour, appuyez sur l'option "générer". Ceci prend environ une minute au maximum (laisser le navigateur tourner et vérifier que la date de dernière mise à jour a changé quand la minute est passée) </p>
<b>Bonne utilisation! </b>

<h1>Export des données gdc (nouveau rapport :D) </h1>
  <div id="download-activity">
   <select ng-model="vm.selectedClan" ng-options="clan.name for clan in vm.sangRoyaleFamily"></select>
   <button ng-click="vm.downloadActivity()">Télécharger</button>
   <button ng-click="vm.generateActivity()">Générer</button>
   <p>Mise à jour au : {{vm.fileCheckActivity(vm.selectedClan)}}</p>

   <h1>Export des données pour les performances des joueurs (record + saison) </h1>
  <div id="download-trophy">
   <select ng-model="vm.selectedClan2" ng-options="clan.name for clan in vm.sangRoyaleFamily"></select>
   <button ng-click="vm.downloadTrophy()">Télécharger</button>
   <button ng-click="vm.generateTrophy()">Générer</button>
   <p>Mise à jour au : {{vm.fileCheckTrophy(vm.selectedClan2)}}</p>