
#synthesis-data {
	border-style: solid;
	border-width: medium;

}

#last-edition-date {
	font-style: italic;
}


.synthesis-field {
	font-weight: bold;
	color: blue;
}

#sr-intro-prince {
	font-size : 180%;
	font-weight : bold;
}

.centered {
	text-align : center;
}

.important {
	color : blue;
	font-weight: bold;
}

.veryimportant {
	color : red;
	font-weight : red;
}

#sr-topic-availability-container {
	border-style: solid;
	border-width: medium;
}