<navigation></navigation>

<h1>Liste des évènements prévus par Sang Royale dans l'ordre chronologique</h1>
<br/>
<div id="events-container">
	
<table class= "table table-responsive table-striped">
	<tr>
		<th>Nom évènement</th>
		<th>Date évènement</th>
		<th>Organisateur</th>
		<th>Type</th>
		<th>Capacité</th>
		<th>Actions</th>

	</tr>
	<tr class="event" ng-repeat="event in vm.events">
		<td>{{event.name}}</td>
		<td>{{event.date}}</td>
		<td>{{event.organizer}}</td>
		<td>Indéfini</td>
		<td>{{event.capacity}}</td>
		<td><button type="submit" class="button" ng-click="vm.deleteEvent(event)">Supprimer</button></td>
	</tr> 
</table>
<br/>
<button class="button" id="add-event" ng-click="vm.addEvent()">Ajouter un évènement</button>



</div>