<mat-card>
  <mat-card-title>Interface d'export des rapports Sang Royale</mat-card-title>
  <mat-card-content>
    <br/>

    <!-- Clans -->
    <h4>Sélectionner le clan pour lequel générer un rapport</h4>
    <mat-form-field>
      <mat-label>Selection du clan</mat-label>
      <mat-select [(ngModel)]="selectedClan" name="clan" required>
        <mat-option *ngFor="let clan of clans" [value]="clan">{{clan.name}}</mat-option>
      </mat-select>
    </mat-form-field>

  <!-- DatePicker a mettre -->

    <!-- Types de rapport disponible -->
    <h4>Sélectionner le type de rapport à générer</h4>
    <mat-form-field>
      <mat-label>Sélection du type</mat-label>
      <mat-select [(ngModel)]="selectedType" name="type" required>
        <mat-option *ngFor="let type of types" [value]="type">{{type}}</mat-option>
      </mat-select>
    </mat-form-field>

<!--
    <mat-card id="download-container" *ngIf="selectedClan != null && selectedType != null">
      <mat-card-content>
        
      </mat-card-content>
      
      
      
    </mat-card>
  -->

  </mat-card-content>

  <mat-card-actions>
        <button mat-raised-button color="primary" (click)="downloadReport()"
        *ngIf="selectedClan != null && selectedType != null"
        >Télécharger</button>
  </mat-card-actions>

  <mat-card class="progress-card">
     <mat-card-title>Génération du rapport pour le téléchargement</mat-card-title>
    <mat-card-content>
      <p *ngIf="raisedError == false" class="progress-label">{{progressString}}</p>
      <p *ngIf="raisedError == true" class="progress-error">{{errorReason}}</p>
     <mat-progress-bar mode="determinate" [value]="progressValue"></mat-progress-bar>
    </mat-card-content>
  </mat-card>

</mat-card>
