<div id="export-card-container">
<mat-card>
  <mat-card-title>Interface d'export des rapports Sang Royale</mat-card-title>
  <mat-card-content>
    <br/>

    <!-- Clans -->
    <div class="form-group">
      <mat-form-field>
          <mat-label>Selection du clan</mat-label>
          <mat-select [(ngModel)]="selectedClan" name="clan" required>
            <mat-option *ngFor="let clan of clans" [value]="clan">{{clan.name}}</mat-option>
          </mat-select>
        </mat-form-field>
    </div>
    

    <!-- Types de rapport disponible -->
    <h4>Sélectionner le type de rapport à générer</h4>
    <mat-form-field>
      <mat-label>Sélection du type</mat-label>
      <mat-select [(ngModel)]="selectedType" name="type" required>
        <mat-option *ngFor="let type of types" [value]="type">{{type}}</mat-option>
      </mat-select>
    </mat-form-field>

    <!-- Formulaire spécifique de gestion GDC -->
    <div id="specific-gdc-filters" *ngIf="selectedType=='GDC'">
      <h4>Informations supplémentaires pour l'export GDC (facultatif) </h4>
      <div class="row">
        <div class="col-3 form-group form-inline">
          <mat-form-field>
            <input matInput [formControl]="dateMin" [matDatepicker]="pickerMin" placeholder="Date minimale pour laquelle l'export doit commencer">
            <mat-datepicker-toggle matSuffix [for]="pickerMin"></mat-datepicker-toggle>
            <mat-datepicker #pickerMin></mat-datepicker>
          </mat-form-field>
         
        </div>
        <div class="col-3">
            <mat-form-field>
              <input matInput [formControl]="dateMax" [matDatepicker]="pickerMax" placeholder="Date maximale pour laquelle l'export doit finir">
              <mat-datepicker-toggle matSuffix [for]="pickerMax"></mat-datepicker-toggle>
              <mat-datepicker #pickerMax></mat-datepicker>
            </mat-form-field>
        </div>
        <div class="col">
          <mat-checkbox class="example-margin" [(ngModel)]="checked">Trier les gdcs de la plus ancienne à la plus récente</mat-checkbox>
        </div>


      </div>
     
        
    </div>
    
   


  </mat-card-content>

  <mat-card-actions>
        <button mat-raised-button color="primary" (click)="downloadReport()"
        *ngIf="selectedClan != null && selectedType != null"
        >Télécharger</button>
  </mat-card-actions>

  <mat-card class="progress-card">
     <mat-card-title>Génération du rapport pour le téléchargement</mat-card-title>
    <mat-card-content>
      <p *ngIf="raisedError == false" class="progress-label">{{progressString}}</p>
      <p *ngIf="raisedError == true" class="progress-error">{{errorReason}}</p>
     <mat-progress-bar mode="determinate" [value]="progressValue"></mat-progress-bar>
    </mat-card-content>
  </mat-card>

</mat-card>



</div>
