<p><b>IMPORTANT : </b><p>Suite à des problèmes de performance (téléchargement volumineux), le fonctionnement a légèrement changé. </p>
<p>Vous pouvez voir la date de dernière mise à jour des fichiers.</p>
<p>Si un fichier doit être mis à jour, appuyez sur l'option "générer". Ceci prend environ une minute au maximum (laisser le navigateur tourner et vérifier que la date de dernière mise à jour a changé quand la minute est passée) </p>
<b>Bonne utilisation! </b>

<h1>Export des données gdc</h1>

<h1>Export des données pour les performances des joueurs (record + saison) </h1>