/* Add application styles & imports to this file! */

body { 
  font-family: Roboto, Arial, sans-serif;
  margin: 0;
}

#download-container {
  background-color : grey;
  border: 1px;
}

.progress-card {
  background-color: lightgrey;
}

.progress-error {
	color : red;
  font-style : italic;
  font-size : 10px;
}

.progress-label {
  color : black;
  font-style : italic;
  font-size : 10px;
}