
<div id="header-card-container">

  <mat-card>

    <mat-card-title class="display-4">Bienvenue sur le site de Sang Royale! </mat-card-title>
    <mat-card-content>
      <p class="lead">Ce site a pour but de présenter les activités de la communauté gaming Sang Royale. Il est encore en cours de développement. </p>
      <hr class="my-4">
      <p>Vous pouvez toujours venir sur notre Discord pour nous contacter</p>
    </mat-card-content>
    <mat-card-actions>
      <a mat-button color="primary" href="https://discord.gg/kgNDsht">Venir sur notre Discord</a>
    </mat-card-actions>
  </mat-card>


</div>



<!-- Caroussel -->
<ngb-carousel *ngIf="images" class="home-carousel">
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper">
      <img class="img-fluid" [src]="images[0]" alt="Random first slide">
    </div>
    <div class="carousel-caption">
      <h3>10 seconds between slides...</h3>
      <p>This carousel uses customized default values.</p>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper">
      <img class="img-fluid" [src]="images[1]" alt="Random second slide">
    </div>
    <div class="carousel-caption">
      <h3>No mouse events...</h3>
      <p>This carousel doesn't pause or resume on mouse events</p>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper">
      <img class="img-fluid" [src]="images[2]"  alt="Random third slide">
    </div>
    <div class="carousel-caption">
      <h3>No keyboard...</h3>
      <p>This carousel uses customized default values.</p>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper">
      <img class="img-fluid" [src]="images[3]" alt="Random fourth slide">
    </div>
    <div class="carousel-caption">
      <h3>And no wrap after last slide.</h3>
      <p>This carousel uses customized default values.</p>
    </div>
  </ng-template>
</ngb-carousel>
